/*********************************
GENERAL
*********************************/
body {
  width: 100%;
}
h1 {
  font-size: 1.8em;
}
/*********************************
HEADER
*********************************/
#logo {
  width: 30%
}
/*********************************
NAVIGATION
*********************************/
nav ul {
  margin: 0;
}

nav li {
  display: block;
  width: 100%
}

nav a {
  display: block;
  width: 100%;
  padding: 5px 0 5px;
}

nav .active {
  background-color: #609799;
  color: #254b4e;
}
nav .active:visited {
  color: #254b4e;
}

/*********************************
CONTENT
*********************************/
.content {
  margin: 0 5%;
}

.content img {
  float: none;
  display: block;
  margin: 0 auto;
  width: 80%;
}
/*********************************
SIDEBAR
*********************************/
.sidebar {
  float: none;
  width: 100%;
  text-align: center;
}

.sidebar ul li {
  display: inline;
}
/*********************************
FOOTER
*********************************/
