/*********************************
GENERAL
*********************************/

/*
  Nav-bg: 044A5B
	nav-text: 63B2C7/
	Bg: B2C5DA
	text: 022124
	footer: 013D41

*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #BBCFE5;
	font-size: 1.1em;
	color: #022124;
}
.page-wrapper{
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Old Standard TT', serif;
	color: #fff;
	font-size: 3em;
	padding: 0 0 20px;
	margin: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

img {
	padding: 15px;
}

/*********************************
HEADING
*********************************/
header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url(pics/header-bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #bafff8;
}

#logo {
	padding: 75px 0 0;
}

/*********************************
NAVIGATION
*********************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	background-color: #044A5B;
	color: #477F8E;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 15px 10px;
	color: #5EA9BD;
}

nav a:hover {
	color: #78D6F0;
}

/*********************************
CONTENT
*********************************/
.main-content {
	margin: 0 auto;
	max-width: 960px;
}

section.content {
	margin: 0 auto;
	padding: 25px 5% 0;
	max-width: 640px;
	border: 1px;
}



p.content {
	width: 600px;
}

img.round {
	border-radius: 50%;
}


/*********************************
SIDEBAR
*********************************/

.sidebar {
	width: 75px;
	margin: 0 0 0 0;
	float: right;
}

.iconslist {
	list-style-type: none;
}

/*********************************
FOOTER
*********************************/
footer {
	clear:both;
	width: 100%;
	background: #013D41;
	text-align: center;
	color: #63B2C7;

}
