/*********************************
GENERAL
*********************************/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ededed;
	font-size: 1.1em;
}
.page-wrapper{
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Old Standard TT', serif;
	color: #fff;
	font-size: 3em;
	padding: 0 0 20px;
	margin: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

img {
	padding: 15px;
}

/*********************************
HEADING
*********************************/
header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url(pics/header-bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #bafff8;
}

#logo {
	padding: 75px 0 0;
}

/*********************************
NAVIGATION
*********************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	background-color: #81d7fc;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 15px 10px;

}

/*********************************
CONTENT
*********************************/
section {
	margin: 0 auto;
	padding: 25px 5% 0;
	max-width: 960px;
}

img.round {
	border-radius: 50%;
}


/*********************************
SIDEBAR
*********************************/

.sidebar {
	width: 50px;
	background-color: #81d7fc;
}

/*********************************
FOOTER
*********************************/
footer {
	clear:both;
	width: 100%;
	background: #9bfffc;
	text-align: center;
}
