/*********************************
GENERAL
*********************************/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #BBCFE5;
	font-size: 1.1em;
	color: #022124;
}
.page-wrapper{
	margin: 0 auto;
	padding: 0;
}

a {
	color: #d98953;
}

a:visited {
	color: #B26810;
}

a:hover {
	color: #ffa341;
}

h1 {
	font-family: 'Old Standard TT', serif;
	color: #fff;
	font-size: 3em;
	padding: 0 0 20px;
	margin: 0;
}

h2 {
	font-size: 2em;
	padding-top: 30px;
}

.right {
	float: right;
}

.left {
	float: left;
}


/*********************************
HEADING
*********************************/
header {
	text-align: center;
	background: url(pics/header-bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #bafff8;
}

#logo {
	padding: 75px 0 0;
}

/*********************************
NAVIGATION
*********************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	background-color: #044A5B;
	color: #477F8E;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 15px 10px;
	color: #5EA9BD;
	text-decoration: none;
}

nav a:visited {
	color: #5EA9BD;
}

nav a:hover {
	color: #78D6F0;
}

nav .active {
	background-color: #BBCFE5;
	color: #254b4e;
}
nav .active:visited {
	color: #254b4e;
}


/*********************************
CONTENT
*********************************/
.main-content {
	margin: 0 auto;
	max-width: 820px;
}


.round {
	border-radius: 50%;
	margin-top: 75px;
	padding: 15px;
}

.company-logos {
   width:160px;
   height:160px;
   background-image:url(../css/pics/gdm-koneo-logo.png);
   margin-left: 25px;
	float: right;
}

.end-of-post {
	width: 300px;
	height: 28px;
	background-image: url(../css/pics/end-of-post.png);
	margin: 25px auto 25px;
	background-repeat: no-repeat;

}

/*********************************
TABLE
*********************************/

table {
	border-collapse: collapse;
	width: 350px;
	background-color: #5EA9BD;
	border: 3px solid #fff;
}
th {
	background: #044A5B;
	color: #78D6F0;
}

th, td {
	padding: 10px 30px;
	border: 2px solid #fff;
	text-align: center;
}

/*********************************
SIDEBAR
*********************************/

.sidebar {
	width: 75px;
	margin: 50px 20px;
	float: right;
}

.iconslist {
	list-style-type: none;
	padding-left: 0;

}

.socialmediaicons {
	margin: 15px;
}


/*********************************
FOOTER
*********************************/
.footer {
	clear:both;
	font-size: 0.7em;
	width: 100%;
	background: #044A5B;
	text-align: center;
	color: #5EA9BD;
}

.footer a {
	text-decoration: none;
	color: #5EA9BD;
}

.footer a:hover {
	color: #78D6F0;
}

.footer p {
	margin: 10px 0 0 0;
}
